<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.tofrankie.alfred_open_with_vscode</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>D846349D-0560-48BF-B7C4-AF3E95EA3553</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>F6DFE550-D3F1-4709-8EF1-991B901AC94A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>F6DFE550-D3F1-4709-8EF1-991B901AC94A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>80AA8A1B-6DF8-41DB-AE77-87AF4482649C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>sourceoutputuid</key>
          <string>1C7756FA-1322-4EAC-85F5-1B007AD79D2C</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>28E43C72-3DF3-47C3-AD55-990927A63B03</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>$createdby</string>
    <key>description</key>
    <string>$description</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Open with Visual Studio Code</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Seaching...</string>
          <key>script</key>
          <string>source "$HOME/.zshrc"
$(which node) ./bundle.cjs "$1" "$searchPath" "$searchDepth" "$ignoreDir"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Will open it with vscode</string>
          <key>title</key>
          <string>Input folder name...</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>D846349D-0560-48BF-B7C4-AF3E95EA3553</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>alfred.workflow.utility.hidealfred</string>
        <key>uid</key>
        <string>80AA8A1B-6DF8-41DB-AE77-87AF4482649C</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{query}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>4</integer>
              <key>matchstring</key>
              <string>^\s*$</string>
              <key>outputlabel</key>
              <string>hide</string>
              <key>uid</key>
              <string>1C7756FA-1322-4EAC-85F5-1B007AD79D2C</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>open</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>F6DFE550-D3F1-4709-8EF1-991B901AC94A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>68</integer>
          <key>script</key>
          <string>on run argv
    set dirPath to item 1 of argv
    tell application "Visual Studio Code"
        activate
        open dirPath
    end tell
end run</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>type</key>
          <integer>6</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>28E43C72-3DF3-47C3-AD55-990927A63B03</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string></string>
    <key>uidata</key>
    <dict>
      <key>28E43C72-3DF3-47C3-AD55-990927A63B03</key>
      <dict>
        <key>xpos</key>
        <real>505</real>
        <key>ypos</key>
        <real>195</real>
      </dict>
      <key>80AA8A1B-6DF8-41DB-AE77-87AF4482649C</key>
      <dict>
        <key>xpos</key>
        <real>500</real>
        <key>ypos</key>
        <real>110</real>
      </dict>
      <key>D846349D-0560-48BF-B7C4-AF3E95EA3553</key>
      <dict>
        <key>xpos</key>
        <real>90</real>
        <key>ypos</key>
        <real>95</real>
      </dict>
      <key>F6DFE550-D3F1-4709-8EF1-991B901AC94A</key>
      <dict>
        <key>xpos</key>
        <real>340</real>
        <key>ypos</key>
        <real>115</real>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>open</string>
          <key>placeholder</key>
          <string>open</string>
          <key>required</key>
          <false/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string>Set your own keyword if "open" isn't the keyword for you.</string>
        <key>label</key>
        <string>Workflow keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>~</string>
          <key>filtermode</key>
          <integer>1</integer>
          <key>placeholder</key>
          <string>~</string>
          <key>required</key>
          <false/>
        </dict>
        <key>description</key>
        <string>Set the search scope to find the target directory quickly.</string>
        <key>label</key>
        <string>Search path</string>
        <key>type</key>
        <string>filepicker</string>
        <key>variable</key>
        <string>searchPath</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>3</string>
          <key>placeholder</key>
          <string>3</string>
          <key>required</key>
          <false/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string>Set the depth of the search path.</string>
        <key>label</key>
        <string>Search depth</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>searchDepth</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>node_modules,bower_components,dist</string>
          <key>placeholder</key>
          <string>node_modules,bower_components,dist</string>
          <key>required</key>
          <false/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string>Set ignored directory. By default, hidden files like ".git" and ".vscode" are excluded. Use commas (,) to separate multiple directories. </string>
        <key>label</key>
        <string>Ignore directory</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>ignoreDir</string>
      </dict>
    </array>
    <key>webaddress</key>
    <string>$webaddress</string>
    <key>version</key>
    <string>$version</string>
    <key>readme</key>
    <string><![CDATA[$readme]]></string>
  </dict>
</plist>
